{% extends 'backend/backend_layout.html.twig' %}

{% block title %} {{post.name}} : modification {% endblock %}

{% block body %}
<div class="new-title">
        <h2 class="title is-3">Modification du poste :</h2>
</div>

    {{ include('backend/post/_form.html.twig', {'button_label': 'Update'}) }}

    <p class="control"></p>
        <a class="button is-primary" href="{{ path('post_index') }}">Retour à la liste</a>
    </p>
    
    {{ include('backend/post/_delete_form.html.twig') }}
</div>
{% endblock %}
