{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouveau poste{% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer un nouveau poste</h4>
</div>

    {{ include('backend/post/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('post_index') }}">Retour à la liste</a>
    </p>
</div>
{% endblock %}
