{% extends 'frontend_layout.html.twig' %}


{% block title %}Hello UserController!{% endblock %}

{% block body %}


{% for user in users %}
<div class="transparent">
<a  href="{{path('security_login', {'username' : user.username } )}}">
       <figure class="image is-128x128">
            <img class="is-rounded" src="{{ asset(image_upload_path ~  ((user.photo ?: 'default-user-image.jpg')))  }}">
        </figure>    
           <p> {{user.firstName}}</p>      
</a></div>
{% endfor %}


{% endblock %}