{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block body %}
    <h1>Edit Stock</h1>

    {{ include('backend/stock/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_show', {'id': product.id}) }}">retour au produit</a>
    {{ include('backend/stock/_delete_form.html.twig') }}

{% endblock %}
