{% extends 'backend/backend_layout.html.twig' %}

{% block title %}stock de {{product.name}} {% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer le stock de {{product.name}}</h4>
</div>

    {{ include('backend/stock/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('product_show', {'id': product.id}) }}">retour au produit</a>
    </p>
</div>
{% endblock %}
