{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
    <h1>Créer le stock de {{product.name}} </h1>

    {{ include('backend/stock/_form.html.twig') }}

    <a href="{{ path('product_show', {'id': product.id}) }}">retour au produit</a>
{% endblock %}
