{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<div class="new-title"><h2 class="title is-2">Liste des catégories : </h2></div>



            <div class="tags">
        {% for category in categories %}

                <span class="tag"><a href="{{ path('category_show', {'id': category.id}) }}">{{category.name}}</a></span>

        {% else %}
        <p>Aucunes catégories trouvés</p>
        {% endfor %}
    </div>


    <a class="button is-primary" href="{{ path('category_new') }}">Nouvelle catégorie </a>

{% endblock %}
