<form class="delete-form" method="post" action="{{ path('backend_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer ce produit?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    {% if is_granted('ROLE_VISITOR') %}
    <button class="button is-danger" disabled >Supprimer</button>
    {% else %}
    <button class="button is-danger" >Supprimer</button>
    {% endif %} 
</form>
