{% extends 'backend/backend_layout.html.twig' %}

{% block title %}liste des produits{% endblock %}

{% block body %}
    <h2 class="title is-2">Bienvenue sur la page de gestion de vos produits.</h2>
    <h4 class="title is-4">liste des produits disponibles :</h4>
    <p>Cliquez sur <i class="fas fa-info-circle"></i> pour accéder au détail du produit et sur <i class="fas fa-edit"></i> pour le modifier.</p>
<div class="">
        <ul class="">
            {% for product in products %}

                <li>
                    {{ product.name }}
                    <a href="{{ path('product_show', {'id': product.id}) }}"><i class="fas fa-info-circle"></i></a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}"><i class="fas fa-edit"></i></a>
                </li>
            {% else %}
                <li>no records found </li>
            {% endfor %}
        </ul>
</div>

    <a class="button is-warning is-outlined" href="{{ path('product_new') }}">Create new</a>
{% endblock %}
