{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer un nouveau produit</h4>
</div>

{{ include('backend/product/_form.html.twig') }}

    <p class="control">
        <a class="button is-primary" href="{{ path('product_index') }}">Retour à la liste</a>
    </p>
</div>
{% endblock %}