{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouveau Rôle{% endblock %}

{% block body %}

<nav class="breadcrumb has-succeeds-separator transparent" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ path('backend_index')}}">Accueil</a></li>
        <li><a href="{{ path('backend_role_index')}}">Liste des rôles</a></li>
        <li class="is-active"><a href="#" aria-current="page">Nouveau rôle</a></li>
    </ul>
</nav>

<div class="new-title">
    <h4 class="title is-4">Créer un nouveau rôle</h4>
</div>

    {{ include('backend/role/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('backend_role_index') }}">back to list</a>
    </p>
</div>
{% endblock %}
