{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouveau Rôle{% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer un nouveau rôle</h4>
</div>

    {{ include('backend/role/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('backend_role_index') }}">back to list</a>
    </p>
</div>
{% endblock %}
