html, body, p, ol, ul, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem;
    padding: 0.5rem;
}

body {
    background-color: darkgray
}

.section {
    padding-bottom : 0;
}

.table {
    background-color: lightgray
}

li {
    list-style: disc;
    padding: 0.2rem;
}

a {
    color: initial;
    margin: 0.5rem;
}

