

body, html {
    background-color: darkgray;
    font-family: 'Roboto', sans-serif;
}

.section {
    padding-bottom : 0;
}

.table {
    background-color: lightgray
}

.columns {
    -moz-columns: 3;
    columns: 3;
}


a {
    color: initial;
    margin: 0.5rem;
}

.create-new{
    margin-top: 1.5rem;
}


ul {
    flex-wrap: wrap;
    display: flex;
  }
  ul li {
    flex: 1 0 33%;
    list-style: disc;
  }

  @media (max-width: 767.98px){

    ul li {
        flex: 1 0 100%;
        list-style: disc;
      }


  }