html {
    background: url("../images/inox.jpg") no-repeat center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(145, 143, 143);
}


#modif-valid, #modif-button {
    display: flex;
    justify-content: center;
}