{% extends 'frontend_layout.html.twig' %}


{% block title %}Connexion{% endblock %}

{% block body %}

{% if error %}
<div class="error-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="field is-grouped">
    <form action="{{ path('security_login', {"username" : username}) }}" method="post">
        <label for="username">Nom d'utilisateur :</label>
        <div class="control">
            <input class="input is-rounded" type="text" id="username" name="_username" value="{{username}}" />
        </div>
        <label for="password">Mot de passe :</label>
        <div class="control">
            <input class="input is-rounded" type="password" id="password" name="_password" />
        </div>
        
            <button class="button is-primary" id="form-connexion" type="submit">Connexion</button>
        
    </form>
</div>

{% endblock %}