{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouveau fournisseur{% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer un nouveau fournisseur</h4>
</div>

    {{ include('backend/supplier/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('supplier_index') }}">Retour à la liste</a>
    </p>
</div>
{% endblock %}