<form class="delete-form" method="post" action="{{ path('modification_delete', {'id': modification.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cette modification ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modification.id) }}">
    <button class="button is-danger">Supprimer</button>
</form>
