{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Modifications{% endblock %}

{% block body %}
    <div class="new-title">
        <h2 class="title is-2">Liste des modifications :</h2>
    </div>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modification in modifications %}
            <tr>

                <td>{{ modification.name }}</td>
                <td>
                    <a href="{{ path('modification_edit', {'id': modification.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button is-primary" href="{{ path('modification_new') }}">Nouvelle modification</a>

{% endblock %}
