{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouvelle mModification{% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer une nouvelle modification</h4>
</div>

    {{ include('backend/modification/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('modification_index') }}">Retour à la liste</a>
    </p>
</div>
{% endblock %}
