{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
   <div class="new-title"><h2 class="title is-2">Modification</h2></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ modification.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('modification_index') }}">back to list</a>

    <a href="{{ path('modification_edit', {'id': modification.id}) }}">edit</a>

    {{ include('backend/modification/_delete_form.html.twig') }}
{% endblock %}
