{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<div class="new-title">
    <h4 class="title is-4">Créer un nouvel utilisateur</h4>
</div>

    {{ include('backend/user/_form.html.twig') }}
    <p class="control"></p>
        <a class="button is-primary" href="{{ path('user_index') }}">back to list</a>
    </p>
</div>
{% endblock %}
