{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<nav class="breadcrumb has-succeeds-separator transparent" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('backend_index')}}">Accueil</a></li>
            <li><a href="{{ path('backend_user_index')}}">Utilisateurs</a></li>
            <li class="is-active"><a href="#" aria-current="page">Nouvel utilisateur</a></li>
        </ul>
    </nav>

<div class="new-title">
    <h4 class="title is-4">Créer un nouvel utilisateur</h4>
</div>

    {{ include('backend/user/_form.html.twig') }}
    <p class="control"></p>
        <a class="button is-primary" href="{{ path('backend_user_index') }}">Retour à la liste</a>
    </p>
</div>
{% endblock %}
